@import "tailwindcss";

@theme {
  --color-primary-500: #6366f1;
  --color-success-500: #22c55e;
  --color-error-500: #ef4444;
  --color-warning-500: #f59e0b;
}

body {
  background-color: #020617; /* slate-950 */
  color: #f1f5f9; /* slate-100 */
  margin: 0;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
